.deal-compo {
  .deal-img {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.09);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .deal-infos {
    background-color: rgba(91, 88, 88, 0.09);
  }
}
