@import "../../css-config//mixins.scss";

.products-header {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .p-main-header {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    @include md {
      font-size: 30px;
    }
  }

  .p-cats {
    display: none;
    @include md {
      display: flex;
    }
  }
}

.btn-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;

  button {
    padding: 5px 16px;
    background-color: #6d7e87;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
  }
}
